@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    font-family: 'Rubik';
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik Mono One';
    border-bottom: green solid 10px;
}
tr, th, td {
    color: rgb(41, 39, 39);
    position: relative;
    font-size: 40px;
    border-bottom: green solid 5px;
}

div, table {
    margin: 0 auto;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color:royalblue
}
a:hover {
    color: rgb(162, 0, 255);
}
  tr:hover {background-color: yellow;}

  ::selection {
    background-color: #8e44ad;
    color: white;
  }
  .letra1 {
    text-align: center;
    width: 40%;
    background-color: crimson;
    color: whitesmoke;
    margin: 0% auto;
    font-size: 16px;
  }